{% extends 'base.html.twig' %}

{% block title %}Edit Tournements{% endblock %}

{% block body %}
    <h1>Edit Tournements</h1>

    {{ include('tournements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tournements_index') }}">back to list</a>

    {{ include('tournements/_delete_form.html.twig') }}
{% endblock %}
