{% extends 'base.html.twig' %}

{% block title %}QR Code{% endblock %}

{% block body %}
    <h1>QR Code</h1>
    <img src="{{ path('qr_code_page', {'id': reservation.id}) }}" alt="QR Code">
    <a href="{{ path('app_reservations_index') }}">Retour à la liste des réservations</a>
{% endblock %}
